NET GPIO_SW_C       LOC="AJ6";
NET GPIO_COMPLED_S  LOC="AG12";
NET USER_CLK        LOC="AH15";
NET FPGA_SERIAL_RX  LOC="AG15";
NET FPGA_SERIAL_TX  LOC="AG20";

NET GPIO_DIP_0 LOC="U25";
NET GPIO_DIP_0 IOSTANDARD="LVCMOS25";

NET "USER_CLK" TNM_NET = USER_CLK;
TIMESPEC TS_USER_CLK = PERIOD "USER_CLK" 10.0 ns HIGH 50%;
