*.coe
*.mif
*.bin
*.o
*.veo
*.xise
*.ngc
*.asy
*.cgc
*.cgp
*.log
*.pdf
*.gise
*.tcl
*.swp
*.v~
hardware/src/imem_blk_ram/_xmsgs/
hardware/src/dmem_blk_ram/_xmsgs/
hardware/build/
hardware/sim/build/
hardware/sim/results/
*flist.txti
*gen_readme.txt
*.elf

